html, body {
  position: static;
  height: 800px;
  width: 800px;
  background: #000000;
}
h1 {
  font-family: Minion;
  font-size: 25px;
  color: #FFFFFF;
}
li {
  font-family: Minion;
  color: #FFFFFF;
}
.Cordon{
  font-family: Rockwell;
  font-size: 15px;
  color: #FFFFFF;
}



