html, body {
  display: table
  background: #000000;
  width: 100vw;
  height: 100vh;
  padding: 0;
  text-align: center;
  -o-background-size: cover;
  background-size: contain;
}
h1 {
  font-family: Minion;
  font-size: 25px;
  color: #FFFFFF;
}
li {
  font-family: Minion;
  color: #FFFFFF;
}
.Cordon{
  font-family: Rockwell;
  font-size: 15px;
  color: #FFFFFF;
}



